
<h1>Artists</h1>

<div class="row">
  <% @artists.each do |key,value|  %>
    <div class="col-lg-4">
       <h1 class="artist-az"><%= key %></h1>
        <% value.each do |v|  %>
          <p><%= link_to "#{v.fullname}", artist_items_path(v) %></p>
        <% end %>
    </div>
  <% end %>
</div>

