<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>

  <!-- LINKED CSS FILES -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

  <!-- Project Linked CSS -->
  <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group"><input type="text" class="form-control" placeholder="Search"></div>
        <!-- <button type="submit" class="btn btn-default">Submit</button> -->
      </form>



      <ul class="nav navbar-nav navbar-right ">
        <li><a href="http://www.linkedin.com/in/cyeung168" target="_blank"><div class="icon" data-icon="c"></div></a>
        <li><a href="http://www.twitter.com/cyeung168/" target="_blank"><div class="icon" data-icon="d"></div></a>
        <li><a href="http://www.instagram.com/cyeung168/" target="_blank"><div class="icon" data-icon="e"></div></a>
        <li><a href="http://onesixeight.tumblr.com/" target="_blank"><div class="icon" data-icon="i"></div></a>
      </ul>
    </div>
  </div>
</nav>

<h1>Artists#index</h1>
<p>Find me in app/views/artists/index.html.erb</p>
<% @artists.each do |a| %>
<p>
<h1>

<%= link_to "#{a.first_name} #{a.last_name}", artist_items_path(a) %>

</h1>
</p>
<% end %>


<!-- LINKED JQUERY FILES -->

  <!-- jQuery -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Handlebars -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>

  <!-- Foundation JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
 
  <!-- Project Linked Javascript -->
  <!-- <script src="script.js"></script> -->

</body>
</html>