<h1>Artists</h1>

<% @artists.each_slice(3) do |artists_by_initial| %>
  <div class="row">
    <% artists_by_initial.each do |artists|  %>
      <div class="col-lg-4">
         <h1 class="artist-az"><%= artists[0] %></h1>
         <hr class="artist-letter">
          <% artists[1].each do |v|  %>
            <p><%= link_to "#{v.fullname}", artist_items_path(v), class: "artist-name" %></p>
          <% end %>
      </div>
    <% end %>
  </div>
<% end %>