
<h1>Artists#index</h1>
<p>Find me in app/views/artists/index.html.erb</p>

<div class="row">
  <div class="col-lg-4">

  <h1 class="artist-az"><%= "#{@current_letter}" %></h1>
    <% @artists.each do |key,value|  %>

        </div>
        <div class="col-lg-4">
        <h1 class="artist-az"><%= key %></h1>
            <% value.each do |v|  %>
        <p><%= link_to "#{v.fullname}", artist_items_path(v) %></p>
            <% end %>
    <% end %>
  </div>
</div>




<%= link_to "Home", root_path %>

