</div>

<footer class="footer">
  <div class="container">
    <div class="navbar-header">
      <ul class=" nav navbar-nav navbar-left">
        <p class="navbar-text">© 2015 ONE in SF</p>
      </ul>
    </div>

    <ul class=" nav navbar-nav navbar-right">
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
  </div>
</footer>

<!-- LINKED JQUERY FILES -->

  <!-- jQuery -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Handlebars -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>

  <!-- Foundation JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
 
  <!-- Project Linked Javascript -->
  <!-- <script src="script.js"></script> -->

</body>
</html>

