  <div class="row">
  <div class="col-lg-6">
    <img src="placeholder.jpg" style="border: 1px solid; width:390px; height:200px" class="img-responsive">
  </div>
  <div class="col-lg-6">
    <h1> <%= "#{@artist.first_name} #{@artist.last_name}" %> </h1>
    <p>
      <strong>Medium:</strong> ee "#{artist.medium}" 
    </p>
    <p>
      <strong>City:</strong> ee "#{artist.city}" 
    </p>

    <p>
      <h4>About the artist</h4>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud
      exercitation ullamco laboris nisi ut aliquip ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in
      culpa qui oficia deserunt molit anim id est laborum.
    </p>

    <p><h4>Website:</h4></p>
    <p><a href="#">http://www.website.com</a></p>
  </div>
  </div>

<div class="row">
  <hr class="page-divider">
</div>

<div class="row">
  <% @items.each do |i| %>
  <div class="col-lg-6">
    <%= link_to artist_item_path(@artist, i) do %>
    <%= i.title %>
      <%= image_tag("#{i.url}", class: "img-responsive") %>
    <% end %>
  </div>
  <% end %>
</div>





