
<h1> <%= "#{@artist.first_name} #{@artist.last_name}" %> </h1>
<% @items.each do |i| %>
<p>
<h1>

<%= link_to "#{i.title}", artist_item_path(@artist, i) %>

</h1>
</p>
<% end %>

<%= link_to "Home", root_path %>

