  <div class="row">
    <div class="col-lg-6">
    <!-- @artist.url -->
      <img src="placeholder.jpg" style="border: 1px solid; width:390px; height:200px" class="img-responsive">
    </div>
    <div class="col-lg-6">
      <h1> About ONE</h1>

      <p>
Kickstarter organic vinyl lomo, Wes Anderson Schlitz Pinterest. Leggings freegan hashtag health goth authentic, Pitchfork PBR&B banjo Shoreditch small batch slow-carb kogi distillery. Dreamcatcher cold-pressed yr, Tumblr ethical fanny pack sriracha +1 semiotics swag pour-over craft beer. Organic paleo synth irony forage, scenester normcore Pinterest Shoreditch PBR be
      </p>
    </div>
  </div>

  <div class="row">
    <hr class="page-divider" text-insert="The Creators">
  </div>
  <div class="row">
<div class="col-lg-3">
    <div class="col-lg-12 hover">
      <%= image_tag "headshots/christine.jpg", class: "img-responsive"%>
       <div class="color-overlay2">
          <div class = "details-overlay"></div>
        </div>
    </div>
    <div class = "info">

        <h3 style="text-align: center">Christine, Curator</h3>
        <p style="text-align: center">thical chambray listicle messenger bag meditation cred. Deep v Shoreditch umami biodiesel aesthetic. Raw denim Pitchfork sriracha </p>
        </div>
</div>

    <div class="col-lg-3">
    <div class="col-lg-12 hover">
      <%= image_tag "headshots/christine.jpg", class: "img-responsive"%>
       <div class="color-overlay2">
          <div class = "details-overlay"></div>
        </div>
    </div>
    <div class = "info">

        <h3 style="text-align: center">Christine, Curator</h3>
        <p style="text-align: center">thical chambray listicle messenger bag meditation cred. Deep v Shoreditch umami biodiesel aesthetic. Raw denim Pitchfork sriracha </p>
        </div>
</div>
<div class="col-lg-3">
    <div class="col-lg-12 hover">
      <%= image_tag "headshots/christine.jpg", class: "img-responsive"%>
       <div class="color-overlay2">
          <div class = "details-overlay"></div>
        </div>
    </div>
    <div class = "info">

        <h3 style="text-align: center">Christine, Curator</h3>
        <p style="text-align: center">thical chambray listicle messenger bag meditation cred. Deep v Shoreditch umami biodiesel aesthetic. Raw denim Pitchfork sriracha </p>
        </div>
</div>
<div class="col-lg-3">
    <div class="col-lg-12 hover">
      <%= image_tag "headshots/christine.jpg", class: "img-responsive"%>
       <div class="color-overlay2">
          <div class = "details-overlay"></div>
        </div>
    </div>
    <div class = "info">

        <h3 style="text-align: center">Christine, Curator</h3>
        <p style="text-align: center">thical chambray listicle messenger bag meditation cred. Deep v Shoreditch umami biodiesel aesthetic. Raw denim Pitchfork sriracha </p>
        </div>
</div>
  </div>
