  <div class="row">
    <div class="col-lg-6">
    <!-- @artist.url -->
      <img src="placeholder.jpg" style="border: 1px solid; width:390px; height:200px" class="img-responsive">
    </div>
    <div class="col-lg-6">
      <h1> About ONE</h1>

      <p>
One App is an e-commerce site based on selling provocative pieces from the latest, and game-changing artists of this century.  Given a week of of work, we created a place for users to reserve and buy these pieces, as well as favoriting artwork into their “Collection”, to buy later, or to admire within the user's digital sphere.  We named our app “One”, to recognize that each item we sell is ONE of a kind.  Because of each artwork’s high value, we set up our payment method as a first come, first serve basis. The user can reserve a piece or multiple pieces within a time limit and buy it.
      </p>
      <br>

<h1>Technologies</h1>
<p>We used a myriad of technologies to make the ONE App what it is!  This App depends on: Stripe, Devise User gem, Devise User Invitable, Sidekiq, Redis, Foreman, Ruby on Rails, PSQL, Jquery, Bootstrap, Javascript, HTML/CSS</p>
  <br>
    <h4>Disclaimer</h4>
    <p>All artwork is the property of their artists. Prices do not reflect the actual value of each piece. We do not claim to have any ownership over the items we display. The ONE APP is solely created for educational purposes.</p>
    </div>
  </div>
<br>
  <div class="row">
    <hr class="page-divider" text-insert="The Creators">
  </div>
  <div class="row">
<div class="col-lg-3">
    <div class="col-lg-12 hover">
      <%= image_tag "headshots/camilo.jpeg", class: "img-responsive"%>
       <div class="color-overlay2">
          <div class = "details-overlay">#1337Hacker</div>
        </div>
    </div>
    <div class = "info">

        <h3 style="text-align: center">Camilo Ordonez Full Stack</h3>
        <p style="text-align: center"> Responsibilities include:  Creating MVC, writing logic for the controllers/views/schema, configuring user login, shopping cart functionality and interacting with the inventory, the payment method Stripe. Ruby, Rails, Sidequik, Redis, PSQL.</p>
        </div>
</div>

    <div class="col-lg-3">
    <div class="col-lg-12 hover">
      <%= image_tag "headshots/christine.jpg", class: "img-responsive"%>
       <div class="color-overlay2">
          <div class = "details-overlay">#Codeislife</div>
        </div>
    </div>
    <div class = "info">

        <h3 style="text-align: center">Christine Lau <br>Full Stack</h3>
        <p style="text-align: center"> Responsibilites include: Implementing stripe, creating the "Collection" Functionalities: controllers/views/schema. Full Stack Development: Javascript, CSS, HTML, Bootstrap, Ruby on Rails</p>
        </div>
</div>
<div class="col-lg-3">
    <div class="col-lg-12 hover">
      <%= image_tag "headshots/cynthia.jpg", class: "img-responsive"%>
       <div class="color-overlay2">
          <div class = "details-overlay">#Haters<br>gonnahate</div>
        </div>
    </div>
    <div class = "info">

        <h3 style="text-align: center">Cynthia Yeung <br> Full Stack</h3>
        <p style="text-align: center">Responsibilities include: Building out with wireframes, Bootstrap, HTML with Rails helpers, CSS, and Javascript functionalities </p>
        </div>
</div>
<div class="col-lg-3">
    <div class="col-lg-12 hover">
      <%= image_tag "headshots/nick.jpg", class: "img-responsive"%>
       <div class="color-overlay2">
          <div class = "details-overlay">Part Time Model/Coder</div>
        </div>
    </div>
    <div class = "info">

        <h3 style="text-align: center">Nicholas Stares Full Stack</h3>
        <p style="text-align: center">Responsibilities include: Configuring devise, email invitations/confirmations, creating the MVC, writing logic for the controllers/views/schema, setting up our app with heroku. </p>
        </div>
</div>
  </div>
