.color-overlay{
  display: block;
  font-weight: normal;
  color: rgba(255,255,255,0.9);
  background-color: rgba(75, 75, 75, 0.6);
  visibility: hidden;
  position: absolute;
  height: 100%;
  width: 287px;
  bottom: 0;
}

.details-overlay{


}