.color-overlay{
  display: block;
  font-weight: normal;
  color: rgba(255,255,255,0.9);
  background-color: rgba(75, 75, 75, 0.6);
  visibility: hidden;
  position: absolute;
  height: 100%;
  width: 287px;
  bottom: 0;

}

.color-overlay2{
  display: block;
  font-weight: normal;
  color: rgba(255,255,255,0.9);
  background-color: rgba(75, 75, 75, 0.6);
  visibility: hidden;
  position: absolute;
  height: 100%;
  width: 178px;
  bottom: 0;
}


.details-overlay{
  font-size: 20px;
  letter-spacing: 0.1em;
  border-bottom: 2px solid rgba(255,255,255,0.5);
  margin: 40px 20px 20px 20px;
  font-weight: 700;
  color: white;
}

.remove-like{
  margin: 20px 20px 20px 20px;
}

.hover {
  margin-top:30px;
}

/* IMAGE THUMBNAIL CROP
-------------------------------------------------- */
.img-thumb{
  display: block;
  overflow: hidden;
  width: 287px;
  height: 287px;
  position: relative;
}

.img-thumb img {
  position: absolute;
  top: -100px;
  left: -100px;
}

