.camilo {
   width:200px;
   height:125px;
   overflow:hidden;
   /*position: absolute;*/
   /*clip: rect(185px, 500px, 395px, 165px);*/
   /*           T     R      B      L*/
}

.stripe-button-el span {
   background-image: black;
}

