/* OVERALL STYLES
-------------------------------------------------- */
* {
  border-radius: 0 !important;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 100px;
}

a {
  color: #777;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 12px;
  font-weight: 500;
}

a:hover{
  text-decoration: none;
  color: inherit;
}

h1, h2, h3{
  margin: 0 0 10px 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 700;
}

h3 {
  font-size: 16px;
  line-height: 1.2em;
  font-weight: 600;
}

h2.subtext {
  font-weight: 500;
  font-size: 12px;
}

.categories-link {
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 0.1em;
  font-weight: 700;
}

label {
  display: block;
}

.btn-default {
  color: white;
  background-color: black;
  border: 1px solid white;
  font-weight: 400;
  letter-spacing: 0.1em;
  &:hover { 
    background-color: white;
    border: 1px solid black; 
    text-decoration: none;
    color: black;}
}


/* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #333;
  color: white;
}

.container .text-muted {
  margin: 20px 0;
  width: 960px;
}

/* NAVBAR
-------------------------------------------------- */
.navbar {
  border:none;
}
.navbar-default {
background-color: white;
/*border-color: none;*/
}

.navbar-fixed-top {
top: 0;
/*border-width: 0 0 0px;*/
}

/* HEADER
-------------------------------------------------- */

.logo {
  margin: auto;
  background: black;
  width: 240px;
  color: white;
  font-weight:900;
  font-size: 85px;
}

.logo a:hover {}

.nav-pills {
  margin-top: 15px;
  display: inline-block;
  height: 65px;
}

.nav-pills a:hover {
  border: 1px solid #000;
}

.nav>li>a:hover, .nav>li>a:focus{
  background-color: white;
  /*border: 2px solid #000;*/
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
  background-color: black;
  border: none;
}

#navigation{
  margin-right: 20px;
}

/* PAGE DIVIDER
-------------------------------------------------- */

hr.page-divider {
    margin: 25px 0 10px 0;
    padding: 0;
    border: none;
    border-top: 1px solid #333;
    color: #333;
    text-align: center;
}
hr.page-divider:after {

    content: attr(text-insert);
    display: inline-block;
    position: relative;
    top: -0.8em;
    font-size: 1.2em;
    padding: 0 0.5em;
    background: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 700;
}

/* CAROUSEL
-------------------------------------------------- */

.carousel-indicators {
  bottom:-50px;
}

.carousel-indicators li {
  border-color:#999;
  background-color:#ccc;
}

.carousel-inner {
   margin-bottom:50px;
}

/* IMAGE THUMB HOVERS
-------------------------------------------------- */
.row-marg {
  padding-top: 30px;
}

/* INPUT FIELDS
-------------------------------------------------- */
textarea:focus,
input[type="text"]:focus,
input[type="submit"]:focus,
input[type="button"]:focus {
  border-color: #eee;
  box-shadow: none;
  outline: 0 none;
}

input[type="text"],
input[type="button"],
input[type="submit"] {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* ARTIST#INDEX
-------------------------------------------------- */
.artist-az {
  font-weight: 900px;
  font-size: 36px;  
  margin-top: 15px;
}

.artist-letter {
  margin-top: -5px;
  height: 1px;
  background-color: black;
  color:#FF0066;
  border: 0 none;
}

.artist-name {
  font-size: 16px;
}

.stripe-button-el {
  background-color: black;
  background-image: none;
}

