
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: black;
  color: white;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}*/
.container .text-muted {
  margin: 20px 0;
  width: 960px;
}

.navbar-default {
background-color: white;
border-color: none;
}

.navbar-fixed-top {
top: 0;
border-width: 0 0 0px;
}


/* Glyph, by Harry Roberts */

hr.page-divider {
    /*margin: 40px 0;*/
    padding: 0;
    border: none;
    border-top: 1px solid #333;
    color: #333;
    text-align: center;
}
hr.page-divider:after {
    content: "Artwork";
    display: inline-block;
    position: relative;
    top: -0.9em;
    font-size: 1.5em;
    padding: 0 0.5em;
    background: white;
}

h1 {
  margin: 0;
}

img {
  overflow: hidden;
}

label {
  display: block;
}

.carousel-indicators {
  bottom:-50px;
}

.carousel-indicators li {
  border-color:#999;
  background-color:#ccc;
}

.carousel-inner {
   margin-bottom:50px;
}

.row-marg {
  padding-top: 30px;
}

.logo {
  text-align: center;
}