<h1>My Collection</h1>

<div class= "row">
  <% @likes.each do |like| %>
  <% artist_id = like.artist_id %>
  <div class="col-lg-4 hover">
    <%= link_to artist_item_path(artist_id, like) do %>
    <div class="img-thumb">
      <%= image_tag("#{like.url}") %>
    </div>
    <div class="color-overlay">
      <div class = "details-overlay">
        <p><%= like.title %></p>
     </div>
     <div class="remove-like">
      <p><%= link_to "Remove", like_delete_path(like), method: :delete, class: "btn btn-default" %></p>
     </div>
    </div>    
    <% end %>
    </div>
  <% end %>
</div>

