<h1><%= @category.category_name %></h1>

<div class="row">
<% @items.each do |i| %>
<div class="col-lg-4">
  <% @artists.each do |a| %>
    <% if i.artist_id == a.id %>
      <%= link_to artist_item_path(a, i) do %>
      <%= image_tag("#{i.url}", class: "img-responsive") %>
      <% end %>
    <% end %>
  <% end %>
  </div>
<% end %>
</div>