
<h2>Orders Processed </h2>

<% unless @Purchaseditems.empty?  %>
   <% @Purchaseditems.each do |item| %>
      <p><%= item.title %></p>
      <%= image_tag("#{item.url}", class: "img-responsive") %>
      <p><strong>Description</strong></p>
      <p><%= item.dimensions %></p>
      <p><strong>$<%= item.price %></strong></p>
      
   <% end %>
<% end %>


