
<h2>Your Orders </h2><hr>
<!-- DISPLAY PURCHASED ITEMS -->
<% unless @Purchaseditems.empty?  %>
   <% @Purchaseditems.each do |item| %>
      <div class="row">
         <div class="col-lg-4 camilo">
            <p><%= item.title %></p>
            <%= image_tag("#{item.url}", class: "img-responsive") %>
         </div>
         <div class="col-lg-4 ">
            <p><strong>Description</strong></p>
            <p><%= item.dimensions %></p>
            <p><strong>$<%= item.price %></strong></p>
         </div>
      </div>  
      <hr>  
   <% end %>
<% end %>


